@import '@/styles/mixins/media';

.container {
  display: flex;
  flex-direction: column;

  font-family: var(--font-feedbax-secondary);

  position: relative;
  background-color: var(--color-feedbax-primary);

  color: var(--color-text-primary);
  text-align: left;

  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  box-sizing: border-box;

  @include fluid($screen-sm, $screen-xl) using ($steps, $step) {
    padding-top: calc-fluid($steps, $step, 2.75rem, 3.75rem);
  }

  .logo {
    display: block;
    margin: 0 auto;

    $size_width_min: 4.6875rem;
    $size_width_max: 7.5rem;
    $size_height_min: 6.0469rem;
    $size_height_max: 9.675rem;

    @include fluid($screen-sm, $screen-xl) using ($steps, $step) {
      width: calc-fluid($steps, $step, $size_width_min, $size_width_max);
      height: calc-fluid($steps, $step, $size_height_min, $size_height_max);
    }
  }
}
