@import "@/styles/mixins/media";

.reactions {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
  
  & .background {
    position: absolute;
    background-color: var(--color-feedbax-secondary);

    width: 100%;
    height: 1.5rem;

    top: 0;
    left: 0;
  }

  & :global(.reaction) {
    &:first-of-type {
      display: none;
      opacity: 0;
    }
  }
}
