@import "@/styles/mixins/media";

.reaction {
  position: relative;
  width: 100%;
  max-width: 32rem;

  padding: 1rem;

  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 10%) 0px 0.6rem 1rem;

  color: var(--color-feedbax-primary);
  background-color: var(--color-text-primary);
  font-family: var(--font-feedbax-tertiary);

  &.numeric {
    margin: 1rem auto;
  }

  &.percentage {
    margin: 0 auto;
  }
  
  &.first {
    margin-top: 0;
  }
}
