@import '@/styles/mixins/media';

.content {
  text-align: left;
  margin: 0 auto;

  box-sizing: border-box;
  color: var(--color-text-primary);

  & p {
    text-align: justify;
  }

  & * {
    white-space: normal;
    overflow-wrap: break-word;
    color: var(--color-text-primary);
  }

  @include fluid($screen-sm, $screen-xl) using ($steps, $step) {
    padding-top: calc-fluid($steps, $step, 2.75rem, 3.75rem);
    font-size: calc-fluid($steps, $step, 1rem, 1.5rem);
    max-width: calc-fluid($steps, $step, 25rem, 50rem);
  }
}
