@import "@/styles/mixins/media";

.container {
  display: flex;
  justify-content: center;

  & .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0px 2px;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    transform: scale(0.6);
    opacity: 0.6;

    &-current {
      transform: scale(1);
      opacity: 1;
    }
  }
}
