@import "@/styles/mixins/media";

.container {
  color: var(--color-text-primary);
  position: relative;
  z-index: 2;

  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .loading-text {
    color: var(--color-text-primary);
    font-family: var(--font-feedbax-primary);
    font-weight: bold;

    text-align: center;

    @include fluid($screen-sm, $screen-xl) using ($steps, $step) {
      margin-top: calc-fluid($steps, $step, 1rem, 1.5rem);
      font-size: calc-fluid($steps, $step, 1rem, 1.5rem);
    }
  }

  .logo-pulse {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    .background {
      position: absolute;
      background-color: var(--color-text-primary);
      width: 100%;
      height: 100%;

      border-radius: 50%;

      animation-name: pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    
      @keyframes pulse {
        from {
          opacity: 0.5;
          transform: scale(0, 0);    
        }

        to {
          opacity: 0;
          transform: scale(1.5, 1.5);    
        }
      }
    }
  
    .logo-size {
      $size_min: 4.6875rem;
      $size_max: 7.5rem;

      @include fluid($screen-sm, $screen-xl) using ($steps, $step) {
        width: calc-fluid($steps, $step, $size_min, $size_max);
        height: calc-fluid($steps, $step, $size_min, $size_max);
      }
    }
  }

  .background-image {
    position: fixed;
    overflow: hidden;
    z-index: -1;

    background-color: var(--color-feedbax-secondary);

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    &-landscape {
      filter: blur(6px);

      @media (orientation: portrait) {
        display: none !important;
      }
    }

    &-portrait {
      filter: blur(6px);

      @media (orientation: landscape) {
        display: none !important;
      }
    }
  }
}
